.header-style {
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    padding: 20px;
  }
  .nav-container {
    list-style-type: none;
    display: flex;
  }
  .link-style {
    margin: 8px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto';
    margin: 15px;
  }
  .logout-btn {
    background-color: #4f46e5;
    border-width: 0px;
    width: 90px;
    height: 45px;
    align-self: center;
    margin-right: 20px;
    border-radius: 9px;
  }
  .logo-style {
    width: 130px;
  }
  
  @media screen and (max-width: 767px) {
    .header-style {
      background-color: rgb(31, 30, 30);
      padding: 10px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .nav-container-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 767px) {
    .nav-container-lg {
      display: none;
    }
  }
  
  @media screen and (min-width: 767px) {
    .nav-container-sm {
      display: none;
    }
  }
  
  .sm-nav-icon {
    margin: 4px;
  }
  
  p{
    color:white;
    margin:5px;
  }